# .coveragerc
[run]
source = RosettaX
branch = True
relative_files = True
parallel = True
omit =
    **/__init__.py
    RosettaX/_version.py
    RosettaX/directories.py
    RosettaX/**/__main__.py

[report]
skip_covered = True
show_missing = True
precision = 2

[html]
directory = htmlcov

[xml]
output = coverage.xml
